@import "~admin-lte/dist/css/adminlte.css";
@import "~admin-lte/plugins/fontawesome-free/css/all.min.css";

.control-sidebar{
    bottom: calc(35rem + 1px);
    right: -250px;
    width: 250px;
    transition: right 0.3s ease-in-out, display 0.3s ease-in-out;
}

.truncable{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.titre{font-style:italic; font-size:2em; opacity: 1; animation:titleAnimate 1s ease-in-out; transform:translateY(20px); text-align: right;}
    @keyframes titleAnimate {
        0% {opacity: 0; transform:translateY(20px);}
        100% { opacity: 0.5; transform: translateY(0);}
    }